.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.homeImage {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-bottom: -150px;
}

.homeRow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .homeRow {
        margin-top: -50px;
    }
    .homeImage {
        margin-bottom: 0;
    }
}
