.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 100vh;
}

.loginLogo {
    width: 200px;
    object-fit: contain;
    margin: 20px auto;
}

.loginContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
}

.loginContainer > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.loginContainer > form {
    display: flex;
    flex-direction: column;
}

.loginContainer > form > h5 {
    margin-bottom: 5px;
}

.loginContainer > form > input {
    height: 26px;
    margin-bottom: 10px;
    background: white;
    width: 98%;
    border-radius: 3px;
    border: 1px solid gray;
}

.loginContainer > p {
    font-size: 12px;
    margin: 10px 0;
}

button {
    height: 26px;
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    color: #111111;
    margin: 5px 0;
}

.loginSignInButton {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
}

.loginRegisterButton {
    background: #dddddd;
    border-color: gray;
}